body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:343px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2588_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2588 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:25px;
  width:100px;
  height:60px;
}
#u2588_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u2588_ref {
  border-width:0px;
  position:absolute;
  left:117px;
  top:75px;
  width:1px;
  height:1px;
}
#u2589_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2589 {
  border-width:0px;
  position:absolute;
  left:85px;
  top:95px;
  width:100px;
  height:60px;
}
#u2589_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u2590_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2590 {
  border-width:0px;
  position:absolute;
  left:243px;
  top:95px;
  width:100px;
  height:60px;
}
#u2590_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u2590_ref {
  border-width:0px;
  position:absolute;
  left:335px;
  top:145px;
  width:1px;
  height:1px;
}
#u2591 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:85px;
  width:0px;
  height:0px;
}
#u2591_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:44px;
}
#u2591_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:36px;
  width:14px;
  height:8px;
}
#u2591_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:17px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2592 {
  border-width:0px;
  position:absolute;
  left:185px;
  top:125px;
  width:0px;
  height:0px;
}
#u2592_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:62px;
  height:8px;
}
#u2592_text {
  border-width:0px;
  position:absolute;
  left:-21px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2593_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2593 {
  border-width:0px;
  position:absolute;
  left:243px;
  top:13px;
  width:100px;
  height:60px;
}
#u2593_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u2593_ref {
  border-width:0px;
  position:absolute;
  left:335px;
  top:63px;
  width:1px;
  height:1px;
}
#u2594_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2594 {
  border-width:0px;
  position:absolute;
  left:243px;
  top:185px;
  width:100px;
  height:60px;
}
#u2594_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u2594_ref {
  border-width:0px;
  position:absolute;
  left:335px;
  top:235px;
  width:1px;
  height:1px;
}
#u2595 {
  border-width:0px;
  position:absolute;
  left:185px;
  top:125px;
  width:0px;
  height:0px;
}
#u2595_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:49px;
  height:8px;
}
#u2595_seg1 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:-86px;
  width:8px;
  height:90px;
}
#u2595_seg2 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:-86px;
  width:17px;
  height:8px;
}
#u2595_text {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-33px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2596 {
  border-width:0px;
  position:absolute;
  left:185px;
  top:125px;
  width:0px;
  height:0px;
}
#u2596_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:49px;
  height:8px;
}
#u2596_seg1 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:-4px;
  width:8px;
  height:98px;
}
#u2596_seg2 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:86px;
  width:17px;
  height:8px;
}
#u2596_text {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:21px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
